
div.social-login 
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        i.fa-solid.fa-comment
        |  카카오 로그인
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  깃허브 로그인